#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% + 25px);
  transform: translateY(-50%);
  .info {
    color: #7e7e7e;
    font-size: .92rem;
    max-width: 90%;
    margin: 0 auto 30px auto;
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 1.2rem;
  line-height: 1.8rem;

  color: #7e7e7e;

  margin: 0 0 12px 0;
}

#container a {
  text-decoration: none;
}

ion-img {
  max-width: 82%;
  margin: 15px auto 20px auto;
}